@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Bebas+Neue&family=Oswald&family=Poppins&family=Roboto:wght@400;900&display=swap");
:root {
  --text: #1b1315;
  --background: #ffffff;
  --primary: #996633;
  --secondary: #ebe0d6;
  --secondary-darker: #e2d3c5;
  --accent: #800020;
  --dark-accent: #720018;
  --light-grey: #7c7c7d;
  --focus-highlight: #2684ff;
  --code-font: "Source Code Pro", monospace;
  --roboto-font: "Rubik", sans-serif;
  --poppins-font: "Poppins", sans-serif;
  --font-large: 16px;
  --font-medium: 15px;
  --font-small: 14px;
  --font-xsmall: 12px;
  --font-bold: 900;
}

body {
  margin: 0;
}

/* welcome section */

.welcome-section {
  height: 100vh;
  overflow: hidden;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
}

.home-link {
  flex: 0;
  margin-top: 25px;
}

.home-link button {
  border: none;
  background-color: transparent;
  color: var(--accent);
  font-weight: 900;
  font-size: 20px;
}

.home-link button:hover {
  cursor: pointer;
  color: var(--dark-accent);
}

.welcome-intro {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.welcome-intro p {
  color: var(--primary);
  margin: 0;
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.welcome-intro p:first-child {
  padding-bottom: 50px;
}

.welcome-intro p:last-child {
  font-size: 25px;
  font-weight: 400;
}

.welcome-text {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;
}

.welcome-text p {
  font-family: "Poppins", sans-serif;
  color: #1b1315;
  flex: 1;
}

.continue-button {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.continue-button button {
  height: 50px;
  padding: 0 25px;
  font-family: var(--poppins-font);
  font-size: 18px;
  display: flex;
  align-items: center;
  background-color: var(--accent);
  border: none;
  color: white;
  border-radius: 5px;
}

.continue-button button:hover {
  cursor: pointer;
  background-color: var(--dark-accent);
}

.continue-button button:hover > svg {
  transform: translateX(10px);
  transition: all 0.2s ease-in-out;
}

.continue-button button svg {
  margin-left: 15px;
}

/* content section */

.content-section {
  /* display: flex;
  justify-content: center; */
  margin-top: 8%;
}

.menu-row {
  display: flex;
  justify-content: center;
}

.menu > * {
  font-family: var(--poppins-font);
}

.menu {
  display: flex;
  width: 100%;
  max-width: 800px;
}

.username-search,
.repo-select {
  flex: 1;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.username-search label,
.repo-select label {
  font-size: var(--font-small);
}

.error-div {
  height: 15px;
  color: red;
  font-size: var(--font-xsmall);
  padding-bottom: 5px;
}

.username-search input,
.repo-select .react-select-container {
  height: 40px;
  border: 1px solid var(--text);
  box-sizing: border-box;
  font-size:var(--font-large);
  border-radius: 4px;
  font-family: var(--poppins-font);
}

.react-select__indicators,
.username-search-icon {
  background-color: var(--text);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.react-select__indicators:hover,
.username-search-icon:hover {
  background-color: var(--dark-accent);
  transition: all 0.2s ease-in-out;
}

.react-select__indicators svg,
.username-search-icon svg {
  color: white;
}

/* username search specific styling */

.username-search {
  position: relative;
}

.username-search input {
  padding: 0 40px 0 8px;
}

.username-search input::placeholder {
  color: var(--light-grey);
}

.username-search-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  cursor: pointer;
}

/* repo select specific styling */

.react-select__value-container {
  padding: 2px 8px;
}

.react-select__indicators {
  width: 40px;
  height: 39px;
  justify-content: center;
  cursor: pointer;
}

.react-select__control {
  height: 40px;
}

.react-select__control :focus-visible {
  border: 1px solid red;
}

.react-select__menu {
  margin-top: 8px;
  box-shadow: 1px 1px 15px rgb(0,0,0,0.2);
}

.react-select__menu-list {
  padding: 5px 0;
}

.react-select__option {
  font-size: var(--font-large);
  padding: 4px 12px;
}

.react-select__option:hover {
  background-color: var(--secondary-darker);
  cursor: pointer;
}

/* writeme s */

.writeme-button {
  flex: 0;
  padding: 0 15px;
  display: flex;
  align-items: end;
  flex-direction: row;
}

.writeme-button button {
  height: 40px;
  background-color: var(--accent);
  display: flex;
  align-items: center;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0 15px;
  font-weight: var(--font-bold);
  font-size: var(--font-large);
  font-family: var(--poppins-font);
}

.writeme-button button:hover {
  background-color: var(--dark-accent);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.writeme-button button:hover > svg {
  transform: translateX(5px);
  transition: all 0.2s ease-in-out;
}

.writeme-button button svg {
  color: white;
  padding-left: 10px;
}

@media screen and (max-width: 650px) {
  .menu {
    flex-direction: column;
  }
}

/* content section */

/* .content-section {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.menu {
  display: flex;
  flex-direction: row;
}

.username-search,
.repo-select {
  display: flex;
  flex: 1;
  flex-direction: column;
  vertical-align: bottom;
  margin: 0 10px;
}

.username-search .input-group {
  height: 40px;
  display: flex;
}

.username-search .input-group input {
  height: 100%;
  box-sizing: border-box;
  border-top: 1px solid var(--text);
  border-bottom: 1px solid var(--text);
  border-left: 1px solid var(--text);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
  padding: 2px 8px;
  font-family: var(--poppins-font);
  font-size: 16px;
}

.username-search .input-group input:focus { */
  /* border-top: 1px solid #2684ff;
  border-left: 1px solid #2684ff;
  border-bottom: 1px solid #2684ff; */
  /* box-shadow: 0 -1px 0 0 var(--focus-highlight), -1px 0 0 0 var(--focus-highlight), 0 1px 0 0 var(--focus-highlight);
  outline: none;
  transition: all 100ms;
}

.username-search .input-group input:focus + * { */
  /* border-top: 1px solid #2684ff;
  border-right: 1px solid #2684ff;
  border-bottom: 1px solid #2684ff; */
  /* box-shadow: 0 1px 0 0 var(--focus-highlight), 1px 0 0 0 var(--focus-highlight), 0 -1px 0 0 var(--focus-highlight);
  transition: all 100ms;
}

.username-search .input-group .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  border-top: 1px solid var(--text);
  border-right: 1px solid var(--text);
  border-bottom: 1px solid var(--text);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  background-color: var(--secondary);
  border-left: 1px solid var(--text);
}

.username-search .input-group .icon svg {
  height: 15px;
  width: 15px;
  color: var(--text);
} */

/* react-select */

/* .react-select__control {
  height: 40px;
  border: 1px solid var(--text) !important;
}

.react-select__value-container {
  font-family: var(--poppins-font) !important;
  font-size: 16px;
}

.react-select__single-value {
  font-family: var(--poppins-font) !important;
  font-size: 16px !important;
}

.react-select__indicators {
  background-color: var(--secondary);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: 1px solid var(--text);
}

.username-search .input-group .icon:hover,
.react-select__indicators:hover {
  cursor: pointer;
  background-color: var(--secondary-darker);
  transition: all 0.2s ease-in-out;
}

.react-select__indicator {
  display: none;
}

.react-select__indicator-separator {
  display: none !important;
}

.css-tj5bde-Svg {
  color: var(--text) !important;
}

.react-select__option {
  font-family: var(--poppins-font) !important;
}

.writeme-btn {
  display: flex;
  flex: 0;
  flex-direction: row;
  align-items: end;
  margin: 0 10px;
}

.writeme-btn button {
  height: 40px;
  background-color: var(--accent);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  font-size: 15px;
    font-weight: 600;
    font-family: var(--poppins-font);
}

.writeme-btn button:hover {
  background-color: var(--dark-accent);
  cursor: pointer;
}

.writeme-btn button:hover > svg {
  transform: translateX(5px);
  transition: all 0.2s ease-in-out;
}

.writeme-btn button svg {
  padding-left: 10px;
}

@media screen and (max-width: 768px) {
  .menu {
    display: flex;
    flex-direction: column;
  }
} */
