@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&family=Roboto&family=Roboto+Mono&display=swap");

:root {
  --text: #1b1315;
  --background: #ffffff;
  --primary: #996633;
  --secondary: #ebe0d6;
  --secondary-darker: #e2d3c5;
  --accent: #800020;
  --dark-accent: #720018;
  --light-grey: #7c7c7d;
  --dark-grey: #1d1f22;
  --mid-grey: #23272e;
  --focus-highlight: #2684ff;
  --code-font: "Source Code Pro", monospace;
  --roboto-font: "Roboto", sans-serif;
  --roboto-mono-font: 'Roboto Mono', monospace;
  --poppins-font: "Poppins", sans-serif;
  --noto-font: "Noto Sans", sans-serif;
  --font-large: 16px;
  --font-medium: 15px;
  --font-small: 14px;
  --font-xsmall: 12px;
  --font-bold: 900;
}

body {
  margin: 0;
}

.display-none {
  display: none;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: fit-content;
  z-index: 99;
}

.logo:hover {
  cursor: pointer;
}

.logo img {
  max-width: 100px;
}

/* welcome section */

.welcome-section {
  height: 100vh;
  overflow: hidden;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.welcome-intro {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 20px;
  max-width: 750px;
}

.welcome-intro > * {
  color: var(--primary);
  margin: 0;
  font-family: var(--roboto-mono-font);
}

.welcome-intro h1 {
  font-size: 8vw;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--primary);
}

.welcome-intro h2 {
  font-size: 6vw;
  border-bottom: 1px solid var(--primary);
  padding-bottom: 5px;
}

.welcome-intro p {
  padding: 10px 0 20px 0;
}

.welcome-text {
  /* flex: 0 0 50%; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 0 60px 0;
}

.welcome-text p {
  font-family: "Poppins", sans-serif;
  color: #1b1315;
  flex: 1;
}

.continue-button {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.continue-button button {
  height: 50px;
  padding: 0 25px;
  font-family: var(--poppins-font);
  font-size: 18px;
  display: flex;
  align-items: center;
  background-color: var(--accent);
  border: none;
  color: white;
  border-radius: 5px;
}

.continue-button button:hover {
  cursor: pointer;
  background-color: var(--dark-accent);
}

.continue-button button:hover > svg {
  transform: translateX(10px);
  transition: all 0.2s ease-in-out;
}

.continue-button button svg {
  margin-left: 15px;
}

@media screen and (min-width: 800px) {
  .welcome-intro h1 {
    font-size: 50px;
  }
  
  .welcome-intro h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 500px) {
  .welcome-intro p {
    font-size: 13.5px;
  }

  .welcome-intro {
    margin-top: 40px;
  }
}

/* content section */

.content-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.menu-row {
  display: flex;
  align-items: center;
  padding: 60px 0 30px 0;
  flex-direction: column;
}

@media screen and (max-width: 830px) {
  .menu-row {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 750px) {
  .menu-row {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.menu > * {
  font-family: var(--poppins-font);
}

.menu {
  display: flex;
  width: 100%;
  max-width: 800px;
}

.username-search,
.repo-select {
  flex: 1;
  /* padding: 0 15px; */
  display: flex;
  flex-direction: column;
}

.repo-select {
  padding: 0 30px;
}

@media screen and (max-width: 650px) {
  .repo-select {
    padding: 0px;
  }
}

.username-search label,
.repo-select label {
  font-size: var(--font-small);
}

.error-div {
  height: 15px;
  color: red;
  font-size: var(--font-xsmall);
  padding-bottom: 5px;
}

.username-search input,
.repo-select .react-select-container {
  height: 40px;
  border: 1px solid var(--text);
  box-sizing: border-box;
  font-size: var(--font-large);
  border-radius: 4px;
  font-family: var(--poppins-font);
}

.react-select__indicators,
.username-search-icon {
  background-color: var(--text);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.react-select__indicators:hover,
.username-search-icon:hover {
  background-color: var(--dark-accent);
  transition: all 0.2s ease-in-out;
}

.react-select__indicators svg,
.username-search-icon svg {
  color: white;
}

/* username search specific styling */

.username-search {
  position: relative;
}

.username-search input {
  padding: 0 40px 0 8px;
}

.username-search input::placeholder {
  color: var(--light-grey);
}

.username-search-icon {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .username-search {
    margin: 10px 0px;
  }
}

/* repo select specific styling */

.react-select__value-container {
  padding: 2px 8px;
}

.react-select__indicators {
  width: 40px;
  height: 39px;
  justify-content: center;
  cursor: pointer;
}

.react-select__control {
  height: 40px;
}

.react-select__control :focus-visible {
  border: 1px solid red;
}

.react-select__menu {
  margin-top: 8px;
  box-shadow: 1px 1px 15px rgb(0, 0, 0, 0.2);
  background-color: white;
  /* z-index: 99; */
}

.react-select__menu-list {
  padding: 5px 0;
}

.react-select__option {
  font-size: var(--font-large);
  padding: 4px 12px;
}

.react-select__option:hover {
  background-color: var(--secondary-darker);
  cursor: pointer;
}

/* writeme s */

.writeme-button {
  flex: 0;
  /* padding: 0 15px; */
  display: flex;
  align-items: end;
  flex-direction: row;
}

.writeme-button button {
  height: 40px;
  /* background-color: var(--accent); */
  display: flex;
  align-items: center;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0 15px;
  font-weight: var(--font-bold);
  font-size: var(--font-large);
  font-family: var(--poppins-font);
}

.writeme-btn-disabled button {
  background-color: var(--light-grey);
}

.writeme-btn-enabled button {
  background-color: var(--accent);
}

.writeme-btn-enabled button:hover {
  background-color: var(--dark-accent);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.writeme-btn-enabled button:hover > svg {
  transform: translateX(5px);
  transition: all 0.2s ease-in-out;
}

.writeme-button button svg {
  color: white;
  padding-left: 10px;
}

@media screen and (max-width: 650px) {
  .menu {
    flex-direction: column;
  }
}

/* filter row */

.filters {
  flex: 1 1;
  display: flex;
  width: 100%;
  max-width: 800px;
  margin: 30px 0;
}

.filter-button {
  flex: 1;
}

.filter-button button {
  height: 40px;
  background-color: var(--dark-grey);
  color: white;
  font-family: var(--poppins-font);
  font-size: var(--font-medium);
  padding: 0 15px;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  width: 200px;
}

@media screen and (max-width: 400px) {
  .filter-button button {
    width: fit-content;
  }
}

.filter-button button:hover {
  background-color: var(--accent);
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.filter-button button p {
  color: white;
  padding-right: 45px;
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.filter-button button svg {
  float: right;
  height: 16px;
  width: 16px;
}

.filter-btn-disabled {
  background-color: var(--light-grey) !important;
}

.filter-btn-disabled:hover {
  cursor: auto !important;
}

/* split pane content */

.display-row {
  display: flex;
  justify-content: center;
  flex: 1;
  overflow-y: hidden;
}

.content-split-pane {
  margin: 0 50px;
  position: static !important;
  height: 100% !important;
}

@media screen and (max-width: 900px) {
  .content-split-pane {
    margin: 0 10px;
  }
}

/* ide pane */

.ide-pane {
  width: 100%;
  height: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid var(--dark-grey); */
  box-sizing: border-box;
  border-top-right-radius: 12px;
}

.ide-menu {
  background-color: var(--dark-grey);
  display: flex;
  padding: 15px;
  border-top-left-radius: 12px;
  flex: 0;
}

.ide-menu-items-left {
  flex: 1;
}

.ide-menu button {
  background-color: var(--dark-grey);
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  color: white;
  height: 32px;
  padding: 0 10px;
  font-family: var(--roboto-font);
}

.ide-menu-items-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.ide-menu-item {
  height: 32px;
  width: 32px;
  border: 1px solid var(--light-grey);
  border-radius: 4px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.ide-menu button:hover,
.ide-menu-item:hover {
  background-color: var(--text);
  cursor: pointer;
  border-color: white;
  transition: all 0.2s ease-in-out;
}

.ide-menu-item svg {
  color: white;
}

.ide-tooltip {
  background-color: var(--dark-grey);
  font-family: var(--roboto-font);
  /* border: 1px solid; */
  box-sizing: border-box;
}

@media screen and (max-width: 830px) {
  .ide-pane {
    padding: 0 15px;
  }
}

/* ide content */

.ide-content {
  /* background-color: var(--mid-grey); */
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.is-ai-loading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  background-color: var(--dark-grey);
  padding: 0 20px;
  width: 50%;
}

.is-ai-loading p {
  color: white;
  padding-left: 20px;
  font-size: var(--font-large);
  font-family: var(--poppins-font);
}

.ide-content-code {
  /* height: fit-content; */
  flex: 1;
  /* height: 400px; */
}

.ide-content-code p {
  color: white;
}

/* pane 2 */

.Pane1 {
  margin-right: 5px;
}

.Pane2 {
  border: 1px solid var(--dark-grey);
  border-top-right-radius: 12px;
}

.preview-pane {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.preview-menu {
  flex: 0;
}

.preview-menu-header {
  height: 31px;
  padding: 15px;
  background-color: var(--dark-grey);
  border-top-right-radius: 12px;
  display: flex;
  align-items: center;
}

.preview-dot {
  height: 5px;
  width: 5px;
  background-color: var(--light-grey);
  border-radius: 50%;
}

.preview-menu-header p {
  font-family: var(--poppins-font);
  color: white;
  padding-left: 10px;
}

.preview-content {
  flex: 1;
  overflow-y: scroll;
  font-family: var(--noto-font);
  padding: 10px 10px 10px 25px;
}

.wmde-markdown > * {
  overflow-wrap: anywhere !important;
}
